body
{ 
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(23, 115, 185); 
    color: rgb(221, 227, 210); 
    margin-right: 100px;
    margin-left: 100px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 
a { color: rgb(142, 198, 142); } 
a:visited { color: rgb(243, 239, 236); }
a:hover { color: rgb(139, 5, 0); }

header, footer
{
  text-align: center;
}
#nav ul {

  

}
.fab{
  background-color: indigo; 
  max-width: 950px; 
  margin: 10px auto; 
  padding: 10px; 
  text-align: center;
  margin-bottom: 10px;
  border-radius: 50p
}

 display: inline-block;
  list-style-type: none;

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #666;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    color: #000;
    background-color: #eee;
}

.brand-logo {
    margin-right: 50px; 
}

.brand-logo img {
    width: 600px; 
    height: auto; 
    float: right; 
}



