body
{ 
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(23, 115, 185); 
    color: rgb(221, 227, 210); 
    margin-right: 100px;
    margin-left: 100px;
    text-align: justify;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 
a { color: rgb(142, 198, 142); } 
a:visited { color: rgb(243, 239, 236); }
a:hover { color: rgb(139, 5, 0); }

header, footer
{
  text-align: center;
}



.fab{
  background-color: indigo; 
  max-width: 950px; 
  margin: 10px auto; 
  padding: 10px; 
  text-align: center;
  margin-bottom: 10px;
  border-radius: 50p
}

 display: inline-block 
body {
    margin: 0;
    background-color: #F2E5D3; /* Light beige */
    font-family: Arial, sans-serif;
}


div{
	background-color: indigo;
	padding: 30px;
}


}
nav{
	background-color: green light;
	border: 1px solid;
	margin: auto;
	font-size: 20px;
	padding: 12px;
}
nav a{
	color: green light;
	padding: 10px;
	margin: auto;
}

nav ul li a:hover {
    color: #F2E5D3; /* Light beige */
}

footer{
	text-align: center;
	margin: auto;
}

.validation-buttons {
    position: absolute;
    top: 10px;
    img {
    max-width: 100px; 
    height: auto;
}
    
