body
{ 
    font-family:"Lucida Console", Monaco, monospace;
    background-color: rgb(23, 115, 185); 
    color: rgb(221, 227, 210); 
    margin-right: 100px;
    margin-left: 100px;
    text-align: justify;
}

a { color: rgb(142, 198, 142); } 
a:visited { color: rgb(243, 239, 236); }
a:hover { color: rgb(139, 5, 0); }

 header {
  text-align: center;
}

main {
  background-color: indigo; 
  
  margin: 10px auto; 
  padding: 10px; 
  text-align: center;
  margin-bottom: 10px;
  border-radius: 50px
}

 

nav{
	background-color: white;
	border: 1px solid;
	margin: auto;
	font-size: 20px;
	padding: 12px;
  background-color: #333; 
  text-align: center;
	margin: auto;
}
nav a {
	color: white;
	padding: 10px;
	margin: auto;
}

nav ul li a:hover {
    color: #F2E5D3; /* Light beige */
}

footer {
	text-align: center;
	margin: auto;
}

.validation-buttons {
    position: absolute;
    top: 10px;
}
    img {
    max-width: 100px; 
    height: auto;
}
    
	
